

/* *{ 
     background-color: black; 
     color: white; 
} */

@font-face{
     font-family: vahid;
     src: url(./font/seguihis.ttf) format("truetype");
      
}

.container {
    background: 
    /* linear-gradient( 270deg, rgba(64,59,74, .2) ,rgba(231,233,187, .4 ) ) , */
    linear-gradient(150deg , rgba(29,43,100, .3) 70% , rgba(248,205,218, .5) ) ,
     url(./img/image.jpg) no-repeat padding-box fixed 40%/cover; 
    /* background-size: cover; */
    /* background-position: 0px; 
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-clip: ; 
    background-attachment: fixed; */
    padding-left: 7px;
    
}



 .text{ 
    color: rosybrown;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

 .maintext{ 
    color: rgb(224, 171, 123);
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font: bold 17px "vahid";
    /* font-family: vahid;
    font-weight: bold; */
} 


.inputshit {
 padding: 0px;
 margin: 5px 10px;
 width: 100px;
 height: 15px;
 border: 2px solid  sienna ;
 border-radius: 5px;
 background-color: rgba(35, 34, 75, 0.1);

}


.inputshitcategory{
    border: 2px solid sienna ;
    border-radius: 5px;
    background-color: rgba(35, 34, 75, 0.1);
}


.inputshit.tel{
    padding-left: 9px;
    
} 

::placeholder {
    color: rgb(247, 225, 238);
    font-size: 1em;
  }

.inputshitcomment {
    border: 2px solid sienna ;
    height: 94px; width: 212px;
    border-radius: 5px;
    background-color: rgba(35, 34, 75, 0.1);
}


.button {
    background-color: rgba(35, 34, 75, 0.1);
    border: 2px solid sienna ;
    border-radius: 5px;
}
    
 /* 2 ////comment////
 video 12
 attribute-selectors */


 /* a[href] {
     color: aqua;
 }


 a[href="http://amazon.com"] {
color: black;

 }

 a[href*="spacex"]{
     color: blueviolet;
 }

 a[href$="org"] {
    background-color: rgb(232, 243, 231);
    color: rgb(192, 122, 122);
 }

 li[class~="item"] a{
 color: brown;
 
 } */


 /* 3 ////comment////
 video 13
combinators  */

/* li > span {
    background-color: rgb(236, 144, 144);
}


li + span {
    background-color: lightgreen;
}

li.item + span {
    background-color: lime;

}

li.item ~ span {
    background-color: maroon;

} */

/* .item a {

    transition: background-color 1s ease-in;

    text-decoration: none;

}

.item:hover a {
    background-color: violet;
}
 */
